
#content {
  max-width: 1600px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

nav a {
  text-align: center;
  color: #828c51;
  text-decoration: none;
  padding: 35px;
}

#hero-msg h1 {
  text-align: center;
}

#hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}
main section img {
    box-sizing: border-box;
}

body {
background-color: #485c77;
color: black;
margin: 0;
padding: 0;
}

header {
  background-color: #e5eeb9;
  color: aliceblue;
}

nav a:hover {
  background-color: #828c51;
  color: #92afd7;
}

.book,
.join {
  background-color: rgb(120, 140, 172);
  color: black;
  text-decoration: none;
  font-size:18px;
  padding: 15px 30px;
  margin-top: 10px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: white;
  color: black;
}

#background {
  background-color: rgb(133, 123, 142);
  color: #828c51;
  height: 725px;
}

.logo {
  width: 80px;
}
.icon {
  width: 80px;
  padding-top: 10px;
}

#hero-img {
  width: 100%;
}

footer a {
  text-decoration: none;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}

.home-title {
    font-family: 'Indie Flower', cursive;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    margin-top:10px;
}
.msg h2 {
    font-family: 'Nunito', sans-serif;
    font-family: 'Indie Flower', cursive;
}
.msg p{
  font-size: .8em;
  line-height: 1.5em;
  padding-bottom: 15px;
}
h2 {
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}
.msg{
    padding: 35px;
    background-color: #828c51;
}
footer{
    padding: 25px 50px;
    margin-top: 200px;
}
footer.social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin:200px 0;
}
.card-img{
    border: 10px; 
    border-color: black;
    border-style: solid;
}