body{
    background-color: #8C1F28;
}

.logo{
    width: 200px;
    justify-self: center;
    align-self: center;
    padding-top: 5px;
}
header{
    width: 1300px;
    justify-self: center;
    align-self: center;
    padding-top: 5px;
    background-color:#F06864;
}
nav-1{
grid-row: 1;
justify-self: center;
width: 500px;
height: 200px;
align-self: center;
padding-top: 100px;
padding-bottom: 20px;
background-color: #F06864;
font-family: 'Roboto Condensed', sans-serif;
}
nav-2{
    width: 1500px;
    justify-self: center;
    align-self: center;
    padding-top: 5px;
    background-color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer{
    padding-top: 30px;
    background-color: #044040;
    padding-bottom: 30px;
}

h1{
    font-family: 'Island Moments', cursive;
    color: aliceblue;
    text-align: center;
}

p1{
    font-family: 'Lora', serif;
    color: aliceblue;
}
p2{
    font-family: 'Lora', serif;
    color:blanchedalmond;
    text-align: right;
}
p3{
    font-family: 'Lora', serif;
    color: aliceblue;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: auto;
}
home-img{
    grid-column: 10/9;
}
.grid-container2{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid{
    display: grid;
    grid-template-columns: 30% 30% 30% 30%;
}
.img1{
padding-top: 50px;
grid-column: 1/2;
}
.img2{
    padding-top: 180px;
    grid-column: 2/3;
    grid-row: 2/2;
}
.img3{
    padding-top: 170px;
}
.img4{
    padding-bottom: 190px;
    grid-row: 2;
}
.img5{
    grid-column: 3;
    grid-row: 1;
    width: 800px;
}
.img6{
    grid-column: 1/2;
    grid-row: 3;
    padding-top: 120px;
    padding-bottom: 30px;
    width: 1500px;
}
p4{
font-family: 'Island Moments', cursive;
color: white;
grid-row: 2;
padding-top: 10px;
font-size: 25px;
}
p5{
font-family: 'Island Moments', cursive;
color:aliceblue;
margin: 20px;
grid-row: 2/5;
padding-top: 10px;
font-size: 24px;
}
p10{
    grid-row: 2/2;
    z-index: 1;
    grid-column: 2;
    font-family: 'Lora', serif;
    color: antiquewhite;
}
p15{
    grid-column: 1;
    grid-row: 3/3;
    z-index: 1;
    margin: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    color: blanchedalmond;
}
